node_modules/
dist/
build/
.next/
out/
.moon/cache/
.moon/docker/
*.tsbuildinfo

*.db
*.db-journal
*.db-shm
*.db-wal
*.db-shm.bak
*.sqlite
*.sqlite-journal

.env
.env.*
!.env.example

.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
